<footer>
    <div class="container">
        <div class="row p20" style="display: flex; align-items: center;">
            <div class="col-md-4 text-center mt25">
                <a target="_blank" href="https://ccom.unh.edu"><img src="/img/ccom_logo.gif" alt="The Center for Coastal and Ocean Mapping"></a>
            </div>

            <div class="col-md-4 text-center mt25" style="font-size: 11px;">
                The VisLab is part of the Center for Coastal & Ocean Mapping/Joint Hydrographic Center at the University of New Hampshire
            </div>
            <div class="col-md-4 text-center mt25">
                <a target="_blank" href="https://www.unh.edu"><img src="/img/unh_logo.gif" alt="The University of New Hampshire"></a>
            </div>

        </div> 
    </div>
</footer>
