
<style>#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('Build/fullscreen-button.png') no-repeat center }</style>
<div id="unity-container">
  <canvas id="unity-canvas"></canvas>
  <div id="unity-fullscreen-button"></div>
</div>
<script>
  var buildUrl = "Build";
  var loaderUrl = buildUrl + "/{{ .Get "name" }}.loader.js";
  var config = {
    dataUrl: buildUrl + "/{{ .Get "name" }}.data",
    frameworkUrl: buildUrl + "/{{ .Get "name" }}.framework.js",
    codeUrl: buildUrl + "/{{ .Get "name" }}.wasm",
    streamingAssetsUrl: "StreamingAssets",
    companyName: "CCOM",
    productName: "WebGL Website Content",
    productVersion: "1.0",
  };
  var container = document.querySelector("#unity-container");
  var canvas = document.querySelector("#unity-canvas");
  var fullscreenButton = document.querySelector("#unity-fullscreen-button");

  if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
    container.className = "unity-mobile";
    config.devicePixelRatio = 1;
  } else {
    canvas.style.width = "100%";
  }
  var script = document.createElement("script");
  script.src = loaderUrl;
  script.onload = () => {
    createUnityInstance(canvas, config).then((unityInstance) => {          
          fullscreenButton.onclick = () => {
            unityInstance.SetFullscreen(1);
          };
        }).catch((message) => {
      alert(message);
    });
  };
  document.body.appendChild(script);
</script>